[submodule "MetroRadiance"]
	path = HeavyWork/MetroRadiance
	url = https://github.com/HeavyWork/MetroRadiance.git
[submodule "YDock"]
	path = HeavyWork/YDock
	url = https://github.com/HeavyWork/YDock.git
[submodule "FluentIconWPF"]
	path = HeavyWork/FluentIconWPF
	url = https://github.com/HeavyWork/FluentIconWPF.git